<div class="container">
  <form [formGroup]="signupform" (ngSubmit)="signup()">
    <mat-form-field >
      <input matInput placeholder="Enter your Email" formControlName="email">
      <mat-error *ngIf="signupform.get('email').invalid && signupform.get('email').touched"></mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Enter your Password" formControlName="password">
      <mat-error *ngIf="signupform.get('password').invalid && signupform.get('password').touched"></mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Signup</button>
  </form>
</div>
